<footer class="page-footer #e53935 red darken-1">
  <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col s4">
           © 2020 Copyright Text
          </div>
          <div class="col s4">
            social 
          </div>
          <div class="col s4">
            <%= link_to "ABOUT", about_path, class: "grey-text text-lighten-4 right" %>
          </div>
        </div>  
      </div>
  </div>
</footer>